

  

  <div class="AddMenu-container">
    <h4 class="add-MenuItemHeader"><%= section_title_2%></h4>
    <%=form_with url:menus_path ,method: :post do |form|%>
      <div class="add-item">
        <p class="item-label">Menu Name: </p>
        <%= form.text_field :menu ,class:"item-input"%>
      </div>
      <div class="add-section">
        <%=form.submit "add", class:"item-submit" %>
      </div>
    <%end%>
  </div>

  <div class="Menu-container">
    <h4 class="add-MenuItemHeader"><%=section_title_3%></h4>
    <em class="CurrentMenu">Currently displaying-<%=@menu.name%> </em>

      <%menu.each do |m|%>
        <ul class="Menu-list">
          <li class="MenuList-item">
            <%= m.name %>
          </li>
          <li>
            <%= form_with(url: edit_menu_path(m.id), method: :get, local: true) do %>
              <%submit_tag("edit" , class: "form-submit")%>
            <%end%>
          </li>
        </ul>
      <% end %>

  </div>
