
<div>
  <% if menus.first %>
    <h4 class="MenuEdit-ListHeading"><%=section_title%></h4>
    <div class=MenuEdit-ListTitle>
     <p class="MenuEdit-ListItem">Item-Name</p>
     <p class="MenuEdit-ListItem">price</p>
     <p class="MenuEdit-ListItem">Image</p>
    </div>
  <%end%>

  <%menus.each do |item| %>

   <section>
     <div class="MenuEdit-List">
        <div class="MenuEdit-ListElements">
         <%= form_with(url: menu_item_path(item.id), method: :put) do %>
           <%=text_field_tag( name='name',value = item.name)%>
        </div>
        <div>
           <%=text_field_tag( name='price',value = item.price) %>
        </div>
         <div>
           <%=text_field_tag( name='image',value = item.image) %>
        </div>
        <div>
          <%=button_tag( value="edit") %>
         <%end%>
        </div>
        <div >
          <%= form_with(url: menu_item_path(item.id), method: :delete) do %>
            <%= image_submit_tag("interface.png", data: { confirm: "Are you sure?" }) %>
          <%end%>
        </div>
      </div>
    </section>
  <%end%>
     

</div>
