<h1 class="heading-menu">you can edit your menu </h1>

<h2 class="MenuEdit-title">Menu items:</h2>
<main>

  <div class="Menu-Titlename">

    <strong>
       <%= @edit_menu.name %>
    </strong>

  </div>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("South Indian",@edit_menu),
  section_title: "South Indian"
  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("North Indian",@edit_menu),
  section_title: "North Indian"
  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Starters",@edit_menu),
  section_title: "Starters"

  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Briyani",@edit_menu),
  section_title: "Briyani"

  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Rice And Noodles",@edit_menu),
  section_title: "Rice And Noodles"

  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Tandoori",@edit_menu),
  section_title: "Tandoori"
  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Milk Shakes",@edit_menu),
  section_title: "Milk Shakes"
  } %>

</main>


<div class="MenuDelete-container">

  <h2 class="MenuDelete-title">Delete menu ?</h2>

    <div class="Menu-deletename">

      <%= form_with(url: menu_path(@edit_menu.id), method: :delete) do %>
        <%= button_tag("Delete", data: { confirm: "Are you sure?" }, class: 'Menu-delete') %>
      <% end %>

    </div>

</div>
