<h1>you can edit your menu </h1>

<div>
  <b>
    <em>
       <%=@edit_menu.name%>
    </em>
  </b>
</div>

<p class="MenuEdit-title">Menu items:</p>
<main>
 
  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("south indian",@menu),
  section_title: "South Indian"
  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("north indian",@menu),
  section_title: "North Indian"
  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Starters",@menu),
  section_title: "Starters"
  
  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Briyani",@menu),
  section_title: "Briyani"

  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Rice And Noodles",@menu),
  section_title: "Rice And Noodles"
  
  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Tandoori",@menu),
  section_title: "Tandoori"
  } %>

  <%= render partial: "edit_menu", locals:{
  menus:MenuItem.description("Milk Shakes",@menu),
  section_title: "Milk Shakes"
  } %>
</main>

<hr>


<div>
  <strong>Delete menu ?</strong>
  <li class="MenuEdit-delete">
    <%= @edit_menu.name %>
    <%= form_with(url: menu_path(@edit_menu.id), method: :delete) do %>
      <%= image_submit_tag("interface.png", data: { confirm: "Are you sure?" }) %>
    <%end%>
  </li>
</div>
