<h1>you can edit your menu </h1>

<div>
  <b>
    <em>
       <%=@edit_menu.name%>
    </em>
  </b>
</div>

<p class="MenuEdit-title">Menu items:</p>
<main>
  <%= render partial: "edit_menu", locals:{
          menus:@menu_items.breakfast(@edit_menu),
          section_title: "Breakfast",
              } %>

  <%= render partial: "edit_menu", locals:{
          menus:@menu_items.lunch(@edit_menu),
          section_title: "Lunch",
              } %>

  <%= render partial: "edit_menu", locals:{
          menus:@menu_items.dinner(@edit_menu),
          section_title: "Dinner",
              } %>
</main>

<hr>
<div>
 <p> Get to menus <p>
 <%= link_to "menus",menu_items_path%>
</div>
<hr>

<div>
  <strong>Delete menu ?</strong>
  <li class="MenuEdit-delete">
    <%= @edit_menu.name %>
    <%= form_with(url: menu_path(@edit_menu.id), method: :delete) do %>
      <%= image_submit_tag("interface.png", data: { confirm: "Are you sure?" }) %>
    <%end%>
  </li>
</div>
