
 <h1 class="SectionHeading" >Menu</h1>


<%if @current_user.role =="owner"%>

  <div class="MenuItem-conatiner">
    <%=form_with url:menu_items_path(menu_id:@menu.id) ,method: :post do |form|%>

      <span class="item-label">Item Name: </span>
      <%= form.text_field :item ,class:"item-input" %>
      <span class="item-label">Item Rate: </span>
      <%= form.text_field :rate, class:"item-input"%>
      <span class="item-label">description : </span>
      <%= form.select'description', raw("<option selected disabled>select</option><option>South Indian</option><option>North Indian</option><option>Starters</option><option>Rice And Noodles</option><option>Briyani</option><option>Italian</option>
      <option>Tandoori</option><option>Milk Shakes</option>"), class:"item-input"%>
      <span class="item-label">Item Image: </span>
      <%= form.text_field 'image' ,class:"item-input"%>
      <span class="item-label">Category of: </span>
      <%= form.select 'category', raw("<option selected disabled>select</option><option>Breakfast</option><option>lunch</option><option>Dinner</option><option>Cold Drinks</option>"), class:"item-input"%>
      <%=form.submit "add", class:"item-submit" %>

     <%end%>
  </div>
<%end%>

<main class='menu-body'>
  <div class="below1">
    <div class="below1-right">
     <%if @current_user.role == "owner"%>
        <h3>choose a menu to display</h3>
        <%= form_with(url:  setmenu_path, method: :post, class: "Add-menu") do %>
          <select name="menu_id"
            class="Menu-select"
            onchange ='if(this.value != 0) { this.form.submit(); }'
            autofocus>

            <option selected disabled>Choose a  menu</option>
            <%Menu.all.each do |menu|%>
              <option value=<%= menu.id %>, class="Menuselect-option">
                <%= menu.name %>
              </option>
            <% end %>
          </select>
        <% end %>
      <%end%>
    </div>
  </div>

<div class= <%=(@current_user.role != "owmner" ) ? "cart-container":"cartContainer" %> >
  <div class="display-element">
    <h3 class="Menu-Head"><em>Displaying<%= @menu.name%></em></h3>
    <%= render partial: "menus", locals:{
    menus:MenuItem.description("south indian",@menu),
    section_title: "South Indian",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("north indian",@menu),
    section_title: "North Indian",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Starters",@menu),
    section_title: "Starters",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Briyani",@menu),
    section_title: "Briyani",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Rice And Noodles",@menu),
    section_title: "Rice And Noodles",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Tandoori",@menu),
    section_title: "Tandoori",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Milk Shakes",@menu),
    section_title: "Milk Shakes",
    user_role: @current_user.role
    } %>
  </div>


     <%if @current_user.role!="owner"%>
       <div class="cart-detail">

        <div class="box">
         <%if @order_items %>
            <table class="Cart-DislpayTable">
              <tr>
                <th class="OrderItem-element">Name</th>
                <th class="OrderItem-element">Qty</th>
             <%@order_items.each do |item|%>
             <tr class="cart-Display">
              <td class="OrderItem-element"><%= item.menu_item_name %>  </td>
              <td class="OrderItem-element"> <%= item.quantity%>   </td>
            </tr>
             <%end%>
            </table>
             <a class="button" href="/order_items">view cart

              (<%=@order_items.length%>)
              <% sum = 0%>
              <% @order_items.each do |item|%>
                <% sum = sum + (item.menu_item_price * item.quantity) %>
              <%end%>
              <%="Cost: Rs." + String(sum) %>
             </a>
          <%end%>
         </div>
       </div>
     <%end%>


   </div>
 </main>
