

<body>
<main class='menu-body'>
  <div class="below1">
    <div class="below1-right">
     <%if @current_user.role == "owner"%>
        <h3>choose a menu to display</h3>
        <%= form_with(url:  setmenu_path, method: :post, class: "Add-menu") do %>
          <select name="menu_id"
            class="Menu-select"
            onchange ='if(this.value != 0) { this.form.submit(); }'
            autofocus>

            <option selected disabled>Choose a  menu</option>
            <%Menu.all.each do |menu|%>
              <option value=<%= menu.id %>, class="Menuselect-option">
                <%= menu.name %>
              </option>
            <% end %>
          </select>
        <% end %>
      <%end%>
    </div>
  </div>
<%if @current_user.role =="owner"%>
  
  <div class="MenuItem-conatiner">
    <h4 class="MenuItem-title"></h4>
    <%=form_with url:menu_items_path(menu_id:@menu.id) ,method: :post do |form|%>

      <div class="add-item">
        <p class="item-label">Item Name: </p>
        <%= form.text_field :item ,class:"item-input" %>
      </div>

      <div class ="add-section">
      <p class="item-label">Item Rate: </p>
      <%= form.text_field :rate, class:"item-input"%>
      </div>

      <div class="add-section">
        <p class="item-label">description : </p>
        <%= form.select'description', raw("<option selected disabled>select</option><option>South Indian</option><option>North Indian</option><option>Starters</option><option>Rice And Noodles</option><option>Briyani</option><option>Italian</option>
        <option>Tandoori</option><option>Milk Shakes</option>"), class:"item-input"%>
      </div>

      <div class="add-section">
        <p class="item-label">Item Image: </p>
        <%= form.text_field 'image' ,class:"item-input"%>
      </div>
      <div class="add-section">
        <p class="item-label">Category of: </p>
        <%= form.select 'category', raw("<option selected disabled>select</option><option>Breakfast</option><option>lunch</option><option>Dinner</option><option>Cold Drinks</option>"), class:"item-input"%>
      </div>

      

      <div class="add-section">
        <%=form.submit "add", class:"item-submit" %>
      </div>

     <%end%>
  </div>

    
  

<%end%>
<div class= <%=(@current_user.role == "owmner") ? "cartContainer":"cart-container" %> >
<div class="display-element">
  <h1>Menu</h1>
  <h3 class="Menu-Head"><em>Displaying <%= @menu.name%></em></h3>
  <%= render partial: "menus", locals:{
  menus:MenuItem.description("south indian",@menu),
  section_title: "South Indian",
  user_role: @current_user.role
  } %>

  <%= render partial: "menus", locals:{
  menus:MenuItem.description("north indian",@menu),
  section_title: "North Indian",
  user_role: @current_user.role
  } %>

  <%= render partial: "menus", locals:{
  menus:MenuItem.description("Starters",@menu),
  section_title: "Starters",
  user_role: @current_user.role
  } %>

  <%= render partial: "menus", locals:{
  menus:MenuItem.description("Briyani",@menu),
  section_title: "Briyani",
  user_role: @current_user.role
  } %>

  <%= render partial: "menus", locals:{
  menus:MenuItem.description("Rice And Noodles",@menu),
  section_title: "Rice And Noodles",
  user_role: @current_user.role
  } %>

  <%= render partial: "menus", locals:{
  menus:MenuItem.description("Tandoori",@menu),
  section_title: "Tandoori",
  user_role: @current_user.role
  } %>

  <%= render partial: "menus", locals:{
  menus:MenuItem.description("Milk Shakes",@menu),
  section_title: "Milk Shakes",
  user_role: @current_user.role
  } %>
</div>
<div class="cart-detail">
  <%if @current_user.role!="owner"%>
   <div class="box">
      <a class="button" href="/order_items">view cart
      <%if @order_items %>
       (<%=@order_items.length%>)
       <% sum = 0%>
       <% @order_items.each do |item|%>
         <% sum = sum + (item.menu_item_price * item.quantity) %>
       <%end%>
       <%="Cost: Rs." + String(sum) %>
      <%end%>
      </a>
  <%end%>
   </div>
      </div>
</div>
  <%if @current_user.role !="owner"%>
   <div class ="box">
    <a class="button" href ="#popup1" >popup </a>
   </div>

   <div id="popup1" class="overlay">
    <div class ="popup">
      <h2> Cart </h2>
      <a class = "close" href="#" >&times;</a>
      <div class="content">
        <% if @current_user.role == "user" %>
          <%order = Order.current_order(@current_user)%>
          <%@order = order%>
          <%@order_items = OrderItem.where("order_id = ?", order.id)%>
        <%end%>
        <%if @current_user.role == "clerk"%>
          <%@customer = @walk_in_customer%>
          <% order = Order.current_order(@customer)%>
          <%@order = order%>
          <%@order_items = OrderItem.where("order_id = ?", order.id)%>
        <% end%>
        <%= render partial: "order_items/order_cart",locals:{
        order_items: @order_items,
        order: @order
        }%>
      </div>
    </div>
   </div>
  <%end%>
 </main>
</body>
