
<h1 class="SectionHeading" >Menu</h1>


<% if @current_user.role =="owner" %>

  <h2 class="AddMenu-Subtitle"> Add a Item </h2>

  <div class="MenuItem-conatiner">
    <%= form_with url:menu_items_path(menu_id:@menu.id) ,method: :post do |form| %>

      <span class="item-label">Item Name: </span>
      <%= form.text_field :item ,class:"item-input" %>

      <span class="item-label">Item Rate: </span>
      <%= form.text_field :rate, class:"item-input"%>

      <span class="item-label">Description : </span>
      <%= form.select'description', raw("<option selected disabled>select</option><option>South Indian</option><option>North Indian</option><option>Starters</option><option>Rice And Noodles</option><option>Briyani</option><option>Italian</option>
      <option>Tandoori</option><option>Milk Shakes</option>"), class:"item-input" %>

      <span class="item-label">Item Image: </span>
      <%= form.text_field 'image' ,class:"item-input" %>

      <span class="item-label">Category of: </span>
      <%= form.select 'category', raw("<option selected disabled>select</option><option>Breakfast</option><option>lunch</option><option>Dinner</option><option>Cold Drinks</option>"), class:"item-input"%>
      <%=form.submit "add", class:"item-submit" %>

    <% end %>

  </div>


 <main class='menu-body'>

  <div class="below1">

    <div class="below1-right">

        <h3>Choose A Menu To Display</h3>

        <%= form_with(url:  setmenu_path, method: :post, class: "Add-menu") do %>
          <select name="menu_id"
            class="Menu-select"
            onchange ='if(this.value != 0) { this.form.submit(); }'
            autofocus>

            <option selected disabled>Choose a  menu</option>

            <%Menu.all.each do |menu|%>
              <option value=<%= menu.id %>, class="Menuselect-option">
                <%= menu.name %>
              </option>
            <% end %>

          </select>

        <% end %>

    </div>

  </div>

<% end %>

<div class= <%=(@current_user.role != "owner" ) ? "cart-container": "cartContainer" %> >
  <div class="Display-Element">
    <h3 class="Menu-Head"><em>Displaying   <%= @menu.name%></em></h3>
    <%= render partial: "menus", locals:{
    menus:MenuItem.description("South Indian",@menu),
    section_title: "South Indian",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("North Indian",@menu),
    section_title: "North Indian",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Starters",@menu),
    section_title: "Starters",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Briyani",@menu),
    section_title: "Briyani",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Rice And Noodles",@menu),
    section_title: "Rice And Noodles",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Tandoori",@menu),
    section_title: "Tandoori",
    user_role: @current_user.role
    } %>

    <%= render partial: "menus", locals:{
    menus:MenuItem.description("Milk Shakes",@menu),
    section_title: "Milk Shakes",
    user_role: @current_user.role
    } %>
  </div>


     <%if @current_user.role!="owner"%>

       <div class="cart-detail">

        <div class="box">

         <h2>Cart</h2>
            <table class="Cart-DislpayTable">
               <tr>
                 <th class="OrderItem-element">Name</th>
                 <th class="OrderItem-element">Qty</th>

              <% if @order_items %>

                <% sum = 0%>
                <%@order_items.each do |item|%>

                 <tr class="cart-Display">
                  <td class="OrderItem-element"><%= item.menu_item_name %>  </td>
                  <td class="OrderItem-element"> <%= item.quantity%>   </td>
                  <% sum = sum + (item.menu_item_price * item.quantity) %>
                 </tr>

                <% end %>
            </table>
            <hr>
                <h3 class="final-cost"><%="Cost: Rs." + String(sum) %><h3>
                <a class="button" href="/order_items">Proceed to Checkout</a>

             <% end %>

         </div>

       </div>

     <% end %>

   </div>

 </main>
