<div class="user-body">

<header class="User-title">
  <h2 class="title-role"> Sign Up </h2>
</header>

  <section class="User-Section">
   <%=form_with url:users_path do |form|%>
     <div class="Form-Section">
      <p class="Form-Label">Name : </p>
      <%= form.text_field :name ,class:"Form-Input no-ouline"%>
     <div>
     <div class="Form-Section">
      <p class="Form-Label">Email : </p>
      <%= form.email_field :email, class:"Form-Input no-outline"%>
     </div>
     <div class="Form-Section">
      <p class="Form-Label">Password : </p>
      <%= form.password_field :password, class:"Form-Input no-outline"%>
      </div>
       <div class="Form-Section">
      <p class="Form-Label">Address : </p>
      <%= form.text_area :address, class:"Form-Input no-outline"%>
      </div>
      <div class="Form-Section">
       <%= form.submit "Sign-Up", class:"Form-submit no-outline" %>
      </div>
    <%end%>
  </section>
</div>
