

<div>
  <%if users.first%>
    <h4 class="User-role"><%= section_title%> </h4>
    <table border = "1">
        <tr>
          <th> </th>
          <th><strong> Name:</strong></th>
          <th><strong> Email:</strong></th>
          <th><strong> Joined on:</strong></th>
        </tr>
      <% users.each do |user|%>
        <tr>
          <td>  <%=image_tag("user1.png")%></td>
          <td><%= user.name%></td>
          <td><%= user.email%></td>
          <td><%=user.created_at.to_s(:short)%></td>
        </tr>
      <%end%>
      </table>
  <%else%>
    <p>NO Active :<%=section_title %></p>
  <%end%>
<div>
