<h3>Order Details Of <%=@user.name%> </h3>

 <%if @orders.first%>
     <%total=0%>
      <% @orders.each do |order|%>
        <ul class="Order-contentList">
        <span class="Order-contentId">Order_id :<%= link_to order.id , order_path(id: order.id) %> </span>
          <li> Ordered-on: <%=order.date%> </li>
           <li>Order cost: Rs.<%= sum=OrderItem.current_order_items_cost(order) %> </li>
           <% total = total + sum%>
          <li>Order-status: <span class="OrderStatus-delivered" > <%=order.status%> </span></li>
        </ul>
      <%end%>
      <p> Total Order Cost: Rs. <%=total%> </p>
 <%end%>