<h1 class="Profile-Order">Delivered Order Details Of <%=@user.name%> </h1>


 <h1 class="report-title"> Enter the delievery dates </h1>
<div class="report-container">

  <form action="/customers/#{@user.id}" method= "GET">
    <span class="report-date">
      <label >From date:</label>
      <input type="date" name="from_date" required>
    </span>
    <span class="report-date">
      <label>To date:</label>
      <input type="date" name="to_date"required>
    </span>
    <button type="submit" class="reportDate-button">get</button>
  </form> 

  <h4 class="report-remark">(*Initial Dispaly - Report of last 5 days) </h4>

<div>

 <%report = @orders.getorders(from_date,to_date)%>
  <%if report.first%>
    <%total=0%>
    <%report.each do |order|%>
      <ul class="Order-reportList">
          <li>Ordered on: <%=order.date%></li>
          <li>Delivered at: <%= order.delivered_at%></li>
          <li>Order status: <span class= "OrderStatus-delivered"> <%=order.status%> </span> </li>
            <%user_id = order.user_id %>
            <% user = User.find_by(id:user_id)%>
          <li>Ordered by: <%=user.name%>  </li>
          <li>Order cost: Rs.<%= sum=OrderItem.current_order_items_cost(order) %>
           <%total = total+sum%>
          </li>
          </ul>
        <%end%>
      <h3 class="report-OrderCost">Total cost: <%=total%>  <h3>
  <%end%>
</div>
  










<div class="Profile-OrderContainer">
  <%if @orders.first%>
     <%total=0%>
      <% @orders.each do |order|%>
        <ul class="Order-contentList">
        <span class="Order-contentId">Order_id :<%= link_to order.id , order_path(id: order.id) %> </span>
          <li> Ordered-on: <%=order.date%> </li>
           <li>Order cost: Rs.<%= sum=OrderItem.current_order_items_cost(order) %> </li>
           <% total = total + sum%>
          <li>Order-status: <span class="OrderStatus-delivered" > <%=order.status%> </span></li>
        </ul>
      <%end%>
            <h3 class="Profile-OrderCost"> Total Order Cost: Rs. <%=total%> </h3>

  <%else%>
    <h3 class="Order-contentList">No Delivered Orders </h3>
  <%end%>
</div>


