<h1 class="report-title"> Enter the delievery dates </h1>

<div class="report-container">

  <form action='/user_report' method='GET'>

    <span class="report-date">
      <input type='hidden' name="id" value=<%= user.id%>>
      <label >From date:</label>
      <input type="date" name="from_date" required>
    </span>

    <span class="report-date">
      <label>To date:</label>
      <input type="date" name="to_date"required>
    </span>

    <button type="submit" class="reportDate-button">get</button>

  </form>

  <h4 class="report-remark">(*Initial Dispaly - Report of last 5 days) </h4>

</div>

  <h1 class="report-Ordertitle"> Order Wise Report </h1>
  <div class="Order-wiseReport">

   <%report = Order.getorders_user(from_date,to_date,user.id)%>

   <%if report.first%>
    <%total=0%>
    <%report.each do |order|%>

      <ul class="Order-reportList">

          <li>Ordered on: <%=order.date%></li>
          <li>Delivered at: <%= order.delivered_at%></li>
          <li>Order status: <span class= "OrderStatus-delivered"> <%=order.status%> </span> </li>
          <li>Order cost: Rs.<%= sum=OrderItem.current_order_items_cost(order) %>
           <%total = total+sum%>
          </li>

      </ul>
    <%end%>
    <h3 class="report-OrderCost">Total cost: Rs. <%=total%>  <h3>
  </div>

 <%else%>

<p>No order exits </p>

<%end%>

</div>