

<table class="Order-table">

   <%order_items.each do |item|%>
      <tr class="OrderItem-container">
        <th class="OrderItem-element">Item:  <%= item.menu_item_name %>  </th>
        <th class="OrderItem-element">Price  :<%= item.menu_item_price%>   </th>
        <th class="OrderItem-element"> Qty : <%=item.quantity%></th>
        <th class="OrderItem-element"> sum = <%= (item.menu_item_price * item.quantity) %> </th>
      </tr>
    <%end%>
</table>

    <p class= <%= "OrderItem-cost" =%> > Order cost =
      <% sum = 0%>
      <% order_items.each do |item|%>
         <% sum = sum + (item.menu_item_price * item.quantity) %>
      <%end%>
      <%= sum %>

    </p>

  <%= link_to "Back To All Orders" ,orders_path%>

  <%if user_role == "user"%>
        <% order2 = Order.current_order(@current_user)%>
            <%if order2==nil%>
              <%order2= Order.create!(user_id: @current_user.id,
                                    date: Date.today,

                                    status: "not placed")%>
            <%end%>
  <%elsif user_role == "clerk"%>
        <% order2 = Order.current_order(@customer)%>
            <%if order2==nil%>
                <%order2= Order.create!(user_id: @customer.id,
                                    date: Date.today,
                                    status: "not placed")%>
            <%end%> 

  <% end %>
 

     <% if user_role != "owner"%>
       <%= form_with(url: repeat_order_path(id1:order.id), method: :post) do %>
           
           <%= button_tag 'Repeat Order',type:'submit'%>
       <% end %>
     <%end%>
     
     