
<hr>

  <%if cart !=nil %>

    <h3 class="Order-title">Pending orders </h3>

      <% cart.each do |order|%>
        <li class="Order-list" >
          order-id: <%=order.id%>
          ordered-on: <%=order.date%>
          order-status: <span class=<%= order.status=="received" ? "OrderStatus-received" : "OrderStatus-delivered" %> > <%=order.status%> </span>

          <% if user_role == "clerk" %>
            <% user_id = order.user_id %>
              <% user = User.find(user_id)%>
              ordered by: <%=user.name %>
              <%= form_with(url: deliver_order_path(id:order.id), method: :post) do %>
              <%= button_tag 'delivered',type:'submit'%>
            <% end %>
          <%end%>

        </li>
      <%end%>

   

    <%if user_role == "clerk" || user_role =="owner" %>
      <%if delivered%>
        <hr>
        <h3 class="Order-title">Delivered orders </h3>
        <% delivered.each do |order|%>
          <li class="Order-list">
            order id: <%=order.id%>
            ordered on: <%=order.date%>
            delivered at: <%=order.delivered_at%>
            order status: <span class=<%= order.status=="received" ? "OrderStatus-received" : "OrderStatus-delivered" %> > <%=order.status%> </span>
            <%user_id = order.user_id %>
            <% user = User.find_by(id:user_id)%>
            ordered by: 
          </li>
        <%end%>
      <%end%>
    <%end%>
    <%if user_role == "user" && user_delivered%>
      <hr>
      <h3 class="Order-title"> delivered orders </h3
      <% user_delivered.each do |order|%>
        <li class="Order-list">
        order id: <%=order.id%>
        ordered on: <%=order.date%>
        delivered at: <%=order.delivered_at%>
        order status: <span class=<%= order.status=="received" ? "OrderStatus-received" : "OrderStatus-delivered" %> > <%=order.status%> </span>
        </li>
      <%end%>
    <%end%>

  <%else%>
  <h3> place an order with just few clicks !! </h3>
  <%=link_to "menus", menu_items_path%>
<%end%>
