<hr>
<section>
 <div>
     <table class="Order-table">
   <% order_items.each do |item|%>
      <tr class="OrderItem-container">
        <th class="OrderItem-element">Item:  <%= item.menu_item_name %>  </th>
        <th class="OrderItem-element">Price  :<%= item.menu_item_price%>   </th>
        <th class="OrderItem-element"> Qty :
          <%= link_to "−", remove_path(id:item.id), method: "post", class: "minus" %>
                        <%= item.quantity %>
          <%= link_to "＋", add_path(id:item.id), method: "post", class: "plus"  %>
        </th>
        <th class="OrderItem-element"> sum = <%= (item.menu_item_price * item.quantity) %> </th>
        <th class="OrderItem-element">
        <%= form_with(url: order_item_path(item.id), method: :delete) do %>
            <%= button_tag 'remove',type:'submit',class: "OrderItem-remove"%>
        <%end%>
        </th>
      </tr>
   <%end%>
      </table>

    <p class= <%= "OrderItem-cost" =%> > Order cost =
      <% sum = 0%>
      <% order_items.each do |item|%>
         <% sum = sum + (item.menu_item_price * item.quantity) %>
      <%end%>
      <%= sum %>

    </p>
    <div  class="Order-finalize">
      <% if sum !=0%>
       <i class="OrderItem-extra">
        <%= link_to "  Add More  ", menu_items_path %>
       </i>
        <%= form_with(url: order_path(order.id), method: :put) do %>
         <%= button_tag 'place order',type:'submit' ,class: "OrderItem-submit"%>
       <% end %>
       <%else%>
       </div>

        <h3 class="Order-empty"> why don't you try out some from our menu ? </h3>
        <i class="Cart-link">
          <%=link_to "go back", menu_items_path%>
        </i>
        <%end%>
  </div>
  </section>
