
<section>
<div class="cart-wrapper">
   <%if order_items !=nil%>
     <table class="Order-table">
      <tr class="OrderItem-container">
          <th class="OrderItem-element">Item:   </th>
          <th class="OrderItem-element">Price  :</th>
          <th class="OrderItem-element"> Qty : </th>
          <th class="OrderItem-element"> sum :  </th>
        </tr>
    <%order_items.each do |item|%>
      <tr class="OrderItem-container">
        <td class="OrderItem-element"> <%= item.menu_item_name %>  </th>
        <td class="OrderItem-element"><%= item.menu_item_price%>   </th>
        <td class="OrderItem-element">
          <%= link_to "−", remove_path(id:item.id), method: "post", class: "minus" %>
                        <%= item.quantity %>
          <%= link_to "＋", add_path(id:item.id), method: "post", class: "plus"  %>
        </td>
        <td class="OrderItem-element">  <%= (item.menu_item_price * item.quantity) %> </th>
        <td class="OrderItem-element">
        <%= form_with(url: order_item_path(item.id), method: :delete) do %>
            <%= button_tag 'remove',type:'submit',class: "OrderItem-remove"%>
        <%end%>
        </td>
      </tr>
    <%end%>
        </table>
    <p class= "OrderItem-cost" >
      <% sum = 0%>
      <% order_items.each do |item|%>
         <% sum = sum + (item.menu_item_price * item.quantity) %>
      <%end%>
      <%if sum!=0%>
       Order Total =<%= sum %>
      <%end%>
     </p>
    <div  class="Order-finalize">
      <% if sum !=0%>
       <i class="OrderItem-extra">
        <%= link_to "  Add More  ", menu_items_path %>
       </i>
        <%= form_with(url: order_path(order.id), method: :put) do %>
         <%= button_tag 'place order',type:'submit' ,class: "OrderItem-submit"%>
       <% end %>
      <%end%>
       </div>
  <%end%>
  <%if sum==0%>
        <h3 class="Order-empty"> Why don't you try out something from our menu ? </h3>
        <img src="https://cdn.dribbble.com/users/204955/screenshots/4930541/emptycart.png" class="EmptyCart">

  <%end%>
  </div>
  </section>
