<hr>
<section>
 <div>
   <% order_items.each do |item|%>
    <div class="OrderItem-container">
      <p class="OrderItem-element">Item:       <%= item.menu_item_name %>  </p>
      <p class="OrderItem-element">Price:       <%= item.menu_item_price%>   </p>
      <p class="OrderItem-element"> Quantity :
      <%= link_to "−", remove_path(id:item.id), method: "post", class: "minus" %>
                      <%= item.quantity %>
      <%= link_to "＋", add_path(id:item.id), method: "post", class: "plus"  %>
      </p>
      <p class="OrderItem-element"> sum = <%= (item.menu_item_price * item.quantity) %> </p>
      <p class="OrderItem-element">
       <%= form_with(url: order_item_path(item.id), method: :delete) do %>
          <%= button_tag 'remove',type:'submit',class: "OrderItem-remove"%>
       <%end%>
      </p>
    </div>
   <%end%>

    <p class="OrderItem-cost"> Order cost =
      <% sum = 0%>
      <% order_items.each do |item|%>
         <% sum = sum + (item.menu_item_price * item.quantity) %>
      <%end%>
      <%= sum %>
    </p>
    <p><% if sum !=0%>
       <%= form_with(url: order_path(order.id), method: :put) do %>
         <%= button_tag 'place order',type:'submit' ,class: "OrderItem-submit"%>
       <% end %>
       <i class="OrderItem-extra">
        <%= link_to "Add More", menu_items_path %>
       </i>
       <%else%>
        <h3> why don't you try out some from our menu ? </h3>
        <p>
        <%=link_to "go back", menu_items_path%>
        <p>
        <%end%>
    </p>
  </div>
  </section>
