<!DOCTYPE html>
<html>
  <head>
    <title>CafeManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div class="container-top">
      <div class="nav-main">
        <%if @current_user %>
          <%if @current_user.role == "user"%>
            <%= link_to "Sign-Out" ,destroy_session_path, method:"delete"%>
            <%= link_to "My Orders", orders_path %>
             <%= link_to "My Cart", order_items_path %>
            <%= link_to "Menus", menu_items_path %>
           
          <%end%>
          <%if @current_user.role == "clerk"%>
            <%= link_to "Sign-Out" ,destroy_session_path, method:"delete"%>
            <%= link_to "All Orders" ,orders_path%>
            <%= link_to "My Cart", order_items_path %>
            <%= link_to "Menus", menu_items_path %>
            
          <%end%>
          <%if @current_user.role == "owner"%>
            <%= link_to "Sign-Out" ,destroy_session_path, method:"delete"%>
            <%= link_to "All Orders" ,orders_path%>
            <%= link_to "Edit Menu", menus_path %>
            <%= link_to "Users", customers_path %>
             <%= link_to "Menus", menu_items_path %>
          <%end%>
        <%else%>
        <%= link_to "Create Account" ,users_path%>
        <%= link_to "Login" ,sessions_path%>
        <%= link_to "Menus", menu_items_path %>
        <%end%>
        <p class="nav-head"><%=link_to "Beach view Restaurant","/"%> </p>
      </div>

      <%if flash[:error] %>
      <p class="error" >
      <%= flash[:error] %>
      </p>
      <%end%>
      <%if flash[:notice] %>
      <p class ="notice">
      <%= flash[:notice] %>
      </p>
      <%end%>
    </div>

    <%= yield %>
  
  </body>
</html>
